@font-face {
    src: url('../font/ScheherazadeNew-Bold.ttf');
    font-family: 'Scheherazade-bold';
}

@font-face {
    src: url('../font/ScheherazadeNew-Regular.ttf');
    font-family: 'Scheherazade-regular';
}

@font-face {
    src: url('../font/ScheherazadeNew-SemiBold.ttf');
    font-family: 'Scheherazade-semibold';
}

@font-face {
    src: url('../font/Montserrat-Bold.ttf');
    font-family: 'Montserrat-bold';
}

@font-face {
    src: url('../font/Montserrat-Regular.ttf');
    font-family: 'Montserrat-regular';
}

@font-face {
    src: url('../font/Montserrat-SemiBold.ttf');
    font-family: 'Montserrat-semibold';
}

html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-regular';
}

.banner {
    margin-top: 4rem;
}

.custom-btn {
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background: #274990;
    color: #fff;
    border: none;
    z-index: 1;
    padding: 10px 35px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #274990;
    font-weight: 600;
    font-family: 'Montserrat-regular';
    letter-spacing: 2px;
}

.custom-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;


}

.custom-btn:hover {
    color: #274990;
}

.custom-btn:hover:after {
    left: 0;
    width: 100%;
}

.custom-btn:active {
    top: 2px;
}

.custom-btn img {
    width: 5%;
}

.cart-man img {
    height: 500px;
    width: 100%;
}

.container {
    padding: 0;
}

/* sec start */
.legacy-main {
    display: flex;
    position: relative;
}

section.discopver-sec {
    background: #EFEFEF;
}

.discover-main {
    align-items: center;
}

.discover-content h2 {
    font-family: 'Montserrat-regular';
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 4rem;
    font-weight: 500;
}

.legacy-main .cart-man {
    margin: 5px;
    position: relative;
    width: 50%;
    overflow: hidden;
}

.cart-man .legacy-inner {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 20px;
}

.cart-man .overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7.52%, rgb(0 0 0 / 95%) 100%);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80%;
    z-index: 2;
}

.legacy-main .cart-man::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    background: #2c2c2c9e;
    background-position: center;
    background-size: contain;
    top: auto;
    bottom: -100%;
    left: 0;
    right: 0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    z-index: 1;
}

.legacy-main .cart-man:hover:after {
    bottom: -0;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

.cart-man .legacy-inner h3 {
    color: #fff;
    font-family: 'Montserrat-semibold';
    text-transform: uppercase;
    font-size: 25px;
}

.cart-man .legacy-inner p {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 15px;
    line-height: 28px;
}

/* Land mark */
.landmark-carousel .item {
    position: relative;
}

.landmark-carousel {
    transition: all .3s ease-in;
}

.landmark-carousel .Landloct-detail p {
    display: none;
}

.land-name:hover .Landloct-detail p {
    display: block;
}

.landmark-carousel .Landloct-detail h3 {
    color: #fff;
    font-family: 'Montserrat-bold';
}

.landmark-carousel .Landloct-detail p {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 22px;
    line-height: 32px;
    transition: all .9s ease-in;
    text-align: center;
}

.landmark-carousel .land-name {
    background: #00000099;
    position: absolute;
    top: 20%;
    padding: 50px 25px;
    width: 32%;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}

.location {
    text-align: left;
}


.land-name:hover {
    width: 50%;
    transition: all .3s ease-in;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.landmark-carousel .land-name h2 {
    color: #fff;
    margin: 0;
    font-family: 'Montserrat-regular';
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

.landmark-carousel .location p {
    font-size: 35px;
    font-family: 'Montserrat-bold';
    margin-bottom: 30px;
    margin-top: 10px;
}

.landmark-carousel .land-name h2::after {
    display: none;
}

.land-name br {
    display: block;
}

.landmark-carousel .owl-nav {
    margin: 0;
}

.landmark-carousel .owl-nav button {
    background: #fff !important;
    color: #000 !important;
    box-shadow: 0px 0px 74.59px 11.65px #00000024;
    border-radius: 100% !important;
    padding: 10px 22px !important;
    position: absolute;
    top: 40%;
    font-size: 20px !important;
}

.landmark-carousel .owl-dots button {
    background: transparent;
    padding: 0;
    margin: 10px 0;
}

.landmark-carousel .owl-dots .owl-dot.active span,
.landmark-carousel .owl-theme .owl-dots .owl-dot:hover span {
    background: #365698;
}

.landmark-carousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
}

.landmark-carousel .owl-next {
    right: 0%;
}

.landmark-carousel .owl-prev {
    left: 0%;
}

button:focus {
    outline: unset;
}


/* Hill View */
.hillview-carousel .owl-nav {
    display: block !important;
}

.hillview-carousel .owl-next {
    right: -10%;
}

.hillview-carousel .owl-prev {
    left: -10%;
}

.col-lg-6.viewimg-slide {
    padding: 0;
}

.hillview-carousel .owl-nav button {
    background: #fff !important;
    color: #000 !important;
    box-shadow: 0px 0px 74.59px 11.65px #00000024;
    border-radius: 100% !important;
    padding: 10px 22px !important;
    position: absolute;
    top: 50%;
    font-size: 20px !important;
}

.hillview-carousel .owl-dots button {
    background: #EFEFEF !important;
    color: #000 !important;
    padding: 0 !important;
}

.hillview-carousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
}

.hillview-carousel .owl-dots .owl-dot.active span,
.hillview-carousel .owl-theme .owl-dots .owl-dot:hover span {
    background: #365698;
}

section.hills-view {
    background: #EFEFEF;
    padding: 3rem 0;
}

.hill-content h2 {
    font-family: 'Montserrat-bold';
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

.hill-content h2::after {
    display: none;
}

.hill-content h2 span {
    color: #274891;
    width: 100%;
}

.hill-content p {
    font-family: 'Montserrat-regular';
    font-size: 18px;
    line-height: 30px;
    padding-right: 20px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    position: relative;
    z-index: 99;
}

/* Leadership */
section.leader-ship {
    padding: 50px 0;
}

.leader-ship h2 {
    font-family: 'Montserrat-bold';
    font-size: 35px;
    text-transform: uppercase;
}

.leadership-carousel p {
    font-family: 'Montserrat-regular';
    font-size: 22px;
    line-height: 32px;
    padding-right: 20px;
    color: #000;
}

.director-man .director-conte {
    margin-top: 2rem;
}

.director-imgt {
    transition: transform 0.3s ease, width 0.3s ease;
}

section.leader-ship h2::after {
    display: none;
}

.leadership-carousel:hover img {
    transform: scale(1.06);
}

.leadership-carousel .owl-dots {
    display: block !important;
    text-align: left;
    margin: 0;
    transform: translate(0px, -2rem);
}

.leadership-carousel .owl-dots .owl-dot.active span {
    background: #274991;
}

.leadership-carousel .owl-dot {
    background: #fff;
    padding: 0;
    margin: 0px;

}

.leadership-carousel .owl-dots .owl-dot span {
    height: 12px;
    width: 12px;
    margin: 0 5px;
}

/* blog */
.recentnav.nav-pills {
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.recentnav a.nav-link {
    font-size: 25px;
    padding: 12px 27px !important;
    border-radius: 0;
    font-family: 'Montserrat-regular';
    background: #E0E0E0 !important;
    color: #626262 !important;
}

.recentnav a.nav-link.active {
    background: #274991 !important;
    color: #fff !important;
}

.recentnav .nav-item:hover .nav-link {
    color: #626262 !important;
}

.recentnav .nav-item:hover .nav-link.active {
    color: #fff !important;
}

.blog-inrcont .blog-date {
    color: #000;
    font-family: 'Montserrat-regular';
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.blog-inrcont h3 {
    font-family: 'Montserrat-semibold';
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    height: 90px;
}

.blog-inrcont .readmore a {
    color: #274991;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-inrcont .readmore a i {
    font-size: 15px;
}

.recent-all .tab-content {
    padding-top: 4rem;
}

.blog-maincont {
    transition: transform 0.3s ease, width 0.3s ease;
}

.blog-maincont:hover img {
    transform: scale(1.06);
}

[data-aos] {
    animation-duration: 2s;
}

.blog-maincont img {
    height: 250px;
}

section.recent-blog {
    padding: 3rem 0;
}

.row.tab-blogs {
    justify-content: center;
}

.row.hill-main {
    width: 100%;
}

.faq-section .faqs-container {
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 5px;
}


.faqrow-main:last-child {
    border-bottom: 0px;
}

.faq-section .faq-singular {
    position: relative;
    border-bottom: 1px solid #9D9DA1;
    padding: 20px 30px 20px 0;
    width: 100%;
}

.faq-singular .faq-question {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Montserrat-regular';
}

.faq-singular .faq-question:before {
    position: absolute;
    content: "+";
    color: #fff;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: 700;
    transition: all .5s;
    background: #274891;
    border-radius: 50px;
    padding: 5px 15px 8px;
    font-family: 'Montserrat-regular';
}

.faq-answer>div {
    font-size: 18px;
}

.faq-singular.active .faq-question:before {
    transform: translateY(-50%) rotate(45deg) scale(1.3);
    padding: 0px 10px 2px;
}

.faqs-container .faq-answer {
    display: none;
    padding: 20px 0px 20px 30px;
}

/* footer */
/* .moretext {
    display: none;
} */

.read-more .moreless-button {
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.read-more .moreless-button::before {
    content: "\f078";
    position: absolute;
    font-size: 20px;
    right: -1.5rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    top: 1.4rem;
}

p.read-more {
    margin: 20px 10px;
}

.footer-section {
    background: #274990;
    padding: 50px 0 20px;
    width: 100%;
    color: #fff;
}

.footer-section a {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 14px;
    line-height: 35px;
}

.footer-section p {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-section .row {
    width: 90%;
    justify-content: center;
    margin: auto;
}

.footer-div-1 {
    padding-left: 0;
}

.footer-section h6 {
    margin: 30px 0;
}

.footer-section p small {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 15px;
    line-height: normal;
}

.footer-section p b {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 18px;
    letter-spacing: normal;
}

.footer-section .brand img.logo {
    padding: 0;
    width: 100px;
    margin-bottom: 10px;
}

.footer-div-5 p {
    display: flex;
    align-items: center;
    gap: 10px;
}

p.location {
    align-items: start;
}

.footer-div-5 span img {
    width: 25px;
    height: 25px;
}

.footer-section h6 b {
    color: #fff;
    font-family: 'Montserrat-regular';
    font-size: 22px;
    font-weight: 400;

}

.footer-certificate-link img {
    width: 85%;
}

.social-flex.row {
    align-items: center;
}

.footer-social-link li i {
    color: #274990;
    font-size: 20px;
}

section.footer-social {
    border-top: 1px solid;
    padding: 10px 0 0;
}



.social-flex.row .copy-ryt p,
.policy-col a {
    margin-bottom: 0;
    font-size: 16px;
    color: #274990;
    font-family: 'Montserrat-semibold';
}

.col-lg-4.policy-col {
    text-align: right;
}

.social-flex .policy-col {
    text-align: center;
}


/* header */
p.connect-btn {
    margin: 0;
    border: 1px solid #274990;
    padding: 10px 30px;
    border-radius: 10px;
}

p.connect-btn a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #274990;
    letter-spacing: 2px;
}

/* Navigation */
.header-new nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: auto;
}

.header-new nav .logo {
    width: 200px;
    height: auto;
}

.header-new .logo img {
    width: 100%;
}

.header-new nav .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    gap: 20px
}

.header-new nav .links li {
    list-style: none;
}

/* Underline Effect Only for Text Links */
.header-new nav .links a:not(:has(img)) {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

/* Hover Effect for Text Links */
.header-new nav .links a:not(:has(img))::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #43B317;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

/* nav .links a:not(:has(img)):hover::before {
    visibility: visible;
    transform: scaleX(1);
} */

.header-new nav .links a img {
    width: 40px;
    height: 40px;
}

/* Mobile specific styles */
.header-new #nav-toggle {
    display: none;
}

.header-new nav .icon-burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0;
}

.header-new nav .icon-burger .line {
    width: 30px;
    height: 4px;
    background-color: #274990;
    margin: 2px;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.header-new nav .links li.header-btn a {
    background: #274990;
    border-radius: 6px;
    padding: 8px 18px;
    font-size: 15px;
    color: #fff;
}

.header-new nav .links {
    position: fixed;
    z-index: -1;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 100%;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    height: 0;
}

.header-new nav .links a:not(:has(img)) {
    font-size: 18px;
    color: #000000;
    font-family: 'Montserrat-bold';
}

.header-new nav .links {
    gap: 20px;
    padding-left: 0;
}

li.header-btn {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0%;
}

.header-new nav .links li.header-btn a {
    border-radius: 0px;
    font-size: 20px;
    padding: 10px;
}

.header-new nav .icon-burger {
    display: flex;
}

nav .icon-burger .line {
    width: 30px;
}

.header-new #nav-toggle:checked~.links {
    height: 95%;
    top: 3rem;
    padding: 30px 0;
}

/* Animate burger icon */
.header-new #nav-toggle:checked~.icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
}

.header-new #nav-toggle:checked~.icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
}

.header-new #nav-toggle:checked~.icon-burger .line:nth-child(2) {
    opacity: 0;
}


.mobile-block {
    display: none !important;
}

.discover-content h2:after {
    display: none;
}

/* about us apge */
.about-page .section-padding span {
    font-family: 'Montserrat-regular';
    font-size: 20px;
}

.about-page h1 {
    font-family: 'Montserrat-bold';
    font-size: 50px;
    line-height: 52px;
}

.about-page h2 {
    font-family: 'Montserrat-bold';
    font-size: 40px;
}

.about-page p b,
.about-page p {
    font-family: 'Montserrat-regular';
    font-size: 15px;
}

.about-page .leader-ship p {
    font-size: 22px;
}

.team-holder p {
    font-size: 22px;
}

.partial_border p {
    font-size: 20px;
}

.partner.about_us .item span {
    font-size: 15px;
    letter-spacing: 2px;
}

.partner p {
    font-size: 17px;
}

.partner.about_us {
    padding-bottom: 0;
}

.office-member {
    background: #EDEEF2;
}

.team-inrcont h3 {
    font-family: 'Montserrat-regular';
    font-size: 30px;
    margin: 0;
}

.team-inrcont h5 {
    font-family: 'Montserrat-regular';
    font-size: 20px;
    font-weight: 500;
}

.team-inrcont p {
    font-family: 'Montserrat-regular';
    font-size: 18px;
    line-height: 20px;
}

.member-detail {
    margin-top: 30px;
}

.about-page .leader-ship {
    padding: 50px 0;
}

@media screen and (max-width: 1300px) {

    .hillview-carousel .owl-next,
    .landmark-carousel .owl-next {
        right: 0;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

@media screen and (max-width: 1200px) {

    .custom-btn {
        padding: 10px 15px;
    }

    .leadership-carousel p {
        font-size: 18px;
        line-height: 25px;
    }

    .landmark-carousel .land-name h2 {
        font-size: 40px;
    }

    .landmark-carousel .land-name {
        width: 36%;
        top: 10%;
    }

    .land-name:hover {
        width: 80%;
    }


}

@media screen and (max-width: 1100px) {

    .footer-section .row .col-lg-2 {
        width: 32%;
        margin-bottom: 30px;
        max-width: 32%;
        flex: 32%;
    }

    .footer-section .row .col-lg-3 {
        width: 50%;
        margin-bottom: 30px;
        max-width: 50%;
        flex: 50%;
    }
}

@media screen and (max-width: 991px) {
    .discover-main {
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    .desktop-block {
        display: none !important;
    }

    .discover-content h2 {
        text-align: center;
    }

    .mobile-block {
        display: block !important;
        margin-top: 30px;
    }

    .landmark-carousel .Landloct-detail {
        position: unset;
        padding: 20px;
        width: 100%;
    }

    .hill-content .custom-btn {
        font-size: 18px;
        padding: 10px 15px;
        margin: 10px 0 !important;
    }

    .hillview-carousel .owl-next,
    .landmark-carousel .owl-next {
        right: 0%;
    }

    .hillview-carousel .owl-prev,
    .landmark-carousel .owl-prev {
        left: 0;
    }

    .row.director-man {
        flex-direction: column-reverse;
        margin: 0;
        padding: 10px;
    }

    .leadership-carousel .owl-dots {
        transform: translate(0px, 0rem);
    }

    .col-lg-4.director-imgt img {
        width: 55%;
    }

    .row.tab-blogs .col-lg-4 {
        width: 50%;
    }

    .hill-content p {
        padding: 0;
    }

    .row.hill-main {
        gap: 20px;
        padding: 0 20px;
        margin: 0;
    }

    .leader-ship h2 {
        text-align: center;
    }

    section.leader-ship {
        padding: 50px 10px;
    }

    .landmark-carousel:hover .Landloct-detail {
        width: 100%;
    }

    .landmark-carousel .Landloct-detail p {
        display: block;
    }

    .landmark-carousel .owl-nav button {
        display: none !important;
    }

    .landmark-carousel .owl-dots {
        display: block !important;
    }

    .social-flex.row {
        align-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }

    .hillview-carousel .owl-nav {
        display: none !important;
    }

    .hillview-carousel .owl-dots {
        display: block !important;
        margin-top: 20px;
    }

    .member-detail {
        margin-top: 30px;
        width: 50%;
    }

    .office-member {
        padding: 60px 0;
    }

    .landmark-carousel .land-name {
        position: unset;
        width: 100%;
    }

    .land-name:hover {
        display: block;
        height: auto;
    }

}

@media screen and (max-width: 600px) {
    .discover-content h2 {
        font-size: 29px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    .legacy-main .cart-man {
        margin: 5px;
        position: relative;
        width: 100%;
    }

    .legacy-main {
        flex-wrap: wrap;
    }

    .row.tab-blogs {
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .row.tab-blogs .col-lg-4 {
        width: 100%;
        margin-bottom: 20px;
    }

    .recent-all .tab-content {
        padding-top: 2rem;
    }

    .recentnav a.nav-link {
        font-size: 18px;
        padding: 8px 10px !important;
    }

    .recentnav.nav-pills {
        text-align: center;
        justify-content: center;
        gap: 10px;
    }

    .leadership-carousel p {
        font-size: 18px;
        line-height: 25px;
        padding-left: 0;
    }

    .row {
        margin: 0;
    }

    section.Landmark.py-5 {
        padding-bottom: 0rem !important;
    }

    .connect-btn {
        display: none;
    }

    .header-new nav .icon-burger .line {
        width: 25px;
        height: 3px;
        background-color: #274990;
        margin: 2px;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .header-new nav .logo {
        padding: 10px 0;
        width: 70%;
    }

    .footer-section .row .col-lg-2,
    .footer-section .row .col-lg-3 {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }

    .header-new .logo img {
        width: 70%;
    }

    .blog-maincont img {
        height: auto;
    }

    .blog-inrcont h3 {
        height: auto;
        margin-bottom: 0;
    }

    .col-lg-4.director-imgt img {
        width: 100%;
    }

    .footer-section {
        background: #274990;
        padding: 30px 0 20px;
        width: 100%;
        color: #fff;
        margin: 0;
    }

    .footer-section a {
        font-size: 18px;
    }

    .footer-section p b {
        font-size: 25px;
    }

    .footer-certificate-link img {
        width: 50%;
    }

    section.recent-blog {
        background: #EFEFEF;
        padding: 2rem 0;
    }

    .discover-content h2 {
        line-height: 29px;
    }

    .landmark-carousel .Landloct-detail p {
        font-size: 18px;
    }


    .hillview-carousel .owl-nav button {
        background: #fff !important;
        color: #000 !important;
        box-shadow: 0px 0px 74.59px 11.65px #00000024;
        border-radius: 100% !important;
        padding: 10px 22px !important;
        position: absolute;
        top: auto;
        font-size: 20px !important;
        bottom: -3rem;
    }

    .hillview-carousel .owl-next,
    .landmark-carousel .owl-next {
        right: 5%;
    }

    .hillview-carousel .owl-prev,
    .landmark-carousel .owl-prev {
        left: 10px;
    }

    .director-imgt {
        padding: 0;
    }

    .leadership-carousel p,
    .director-man .director-conte {
        padding: 0;
    }

    .leadership-carousel .owl-dots {
        text-align: center;
    }

    .footer-section .row>div {
        padding: 0;
    }

    .member-detail {
        margin-top: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {

    .discover-main .discover-img {
        padding: 0;
    }

    .landmark-carousel .Landloct-detail {
        padding: 10px;
    }

    .row.hill-main {
        padding: 0;
    }

    .discover-content h2 {
        font-size: 30px;
        margin: 20px;
    }

    .landmark-carousel .location p {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .landmark-carousel .land-name {
        padding: 10px;
    }

    .landmark-carousel .land-name h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .recentnav a.nav-link {
        font-size: 13px;
        padding: 8px 10px !important;
    }

    .recentnav.nav-pills {
        gap: 2px;
    }

    .landmark-carousel .location p {
        font-size: 18px;
    }
}
